
<script>
    if(document.title == "Dmrlart - Signup" || document.title == "Dmrlart - Login"){
        const hiddenelement = document.getElementById("iflogged")
        
        hiddenelement.remove()
        
        
        
        
    }
 
    
</script>
</body>
</html>