<%- include('header',{
    title: 'Dmrlart - Home'
}) -%>
<div class="container">
    <div class="profile">
        
        <h2><%= user.name %></h2>
        <span><%= user.email %></span>
        
   
  
</div>
<%- include('footer',{
    username: username
}); -%>